body {font-family: sans-serif;}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}



/*  Card Based Layout - Base styles  */
body {
  background: #ecf0f1;
  line-height: 1.4;
}

.card {
	background: white;
	margin-bottom: 2em;	
}


.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
  font-weight: normal;
  font-size: 2em;
  color: #e74c3c;  
}
.card-content h4:hover {
	color: #e74c3c;  
}

.card-content h4 {
	margin-top: 0;
	margin-bottom: .5em;
  font-weight: normal;
}
.card-content p {
  font-size: 95%;
  color: #666;
}
.card-content button {
    background:#eff0f2;
    border: 0;
    color:#7c7d7f;
    padding: 10px;
    width: 100%;
    }

/* Flexbox styles */
@media screen and (min-width: 40em) {  
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);    
  }
} 

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }
  
  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);   
  }
} 



